header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
    color: #ecf0f1;
}

.weather-icon {
    width: 80px;
    height: 80px;
}

.current-weather-section {
    max-width: 300px; 
    margin: auto; 
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 15px;
}

.list-group-item {
    background-color: #ecf0f1;
}

.btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #2980b9;
}

#searchForm {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#searchForm input[type="search"] {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#searchForm button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#searchForm button:hover {
    background-color: #2980b9;
}

