

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
    color: #ecf0f1;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

.current-weather-section {
    max-width: 300px; 
    margin: auto; 
}
