

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
    color: #ecf0f1;
}

/* .card {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-header {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0;
}

.card-body {
    padding: 15px;
}

#ul-list {
    list-style: none;
    padding: 0;
}

.list-group-item {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease-in-out;
}

.list-group-item:hover {
    background-color: #e9ecef;
} */